body {
    overflow: hidden;
    padding: 25px;
    background-color: aliceblue;
  }
  .calculadora-row {
    height: 100vh;
  }
  .calculadora-container,
  .form-control,
  .btn {
    border: 1px solid black;
  }
  